<body class="body">
<header id="top"><h1>Dominican Republic</h1></header>
<app-down-botton></app-down-botton>
<br>
<ol>
  <li><a href="https://es.wikipedia.org/wiki/Azua" target="_blank">Azua</a></li>
  <ul>
  <li>Senador: Lía Ynocencia Díaz Santana</li>
  <li>Población: 256,981</li>  
  <img src="../assets/Escudo_de_la_Provincia_Azua.png" width="100px" height="100px">
</ul>
<img class="map" src="../assets/Dominican_Republic,_administrative_divisions_-_de_-_colored.svg.png" width="350px" height="300px">
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Bahoruco" target="_blank">Bahoruco</a></li>
  <ul>
  <li>Senador: Melania Salvador Jimenez</li>
  <li>Población: 118,987</li>  
  <img src="../assets/bahorucoescudo.png" width="100px" height="100px">
</ul>
<li><a href="https://es.wikipedia.org/wiki/Barahona_(República_Dominicana)" target="blank">Barahona</a></li>
  <ul>
  <li> Senador: José Manuel del Castillo Saviñón </li>
  <li> Población: 226,898 </li>
  <img src="../assets/escudobarahona.png" width="100px" height="100px">
  </ul>
<li><a href=" https://es.wikipedia.org/wiki/Dajabón" target="blank"> Dajabón </a></li>
  <ul>
  <li> Senador: David Sosa </li>
  <li> Población: 67,887 </li>
  <img src="../assets/escudodajabon.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Distrito_Nacional" target="blank"> Distrito Nacional </a></li>
  <ul>
  <li> Senador: Faride Raful </li>
  <li> Población: 1,484,789 </li>
 <img src="../assets/escudodistrito.jpg" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte" target="blank"> Duarte </a></li>
  <ul>
  <li> Senador: Franklin Romero Morillo</li>
  <li> Población: 384,789 </li>
  <img src="../assets/escudoduarte.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_El%C3%ADas_Piña" target="blank"> Elías Piña </a></li>
  <ul>
  <li> Senador: Aris Yván Lorenzo Suero</li>
  <li> Población: 70,589 </li>
  <img src="../assets/escudoelias.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo" target="blank"> El Seibo </a></li>
  <ul>
  <li> Senador: Santiago Jose Zorrilla </li>
  <li> Población: 115,889 </li>
  <img src="../assets/escudoseibo.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Espaillat" target="blank"> Espaillat </a></li>
  <ul>
  <li> Senador: Carlos Gómez </li>
  <li> Población: 390,478</li>
  <img src="../assets/escudoespaillat.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Espaillat" target="blank"> Hato Mayor </a></li>
  <ul>
  <li> Senador: Cristóbal Castillo </li>
  <li> Población: 89,578 </li>
  <img src="../assets/EscudohatoMayor.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hermanas_Mirabal" target="blank"> Hermanas Mirabal </a></li>
  <ul>
  <li> Senador: Luis Canaán </li>
  <li> Población: 103,974 </li>
  <img src="../assets/escudoHermanas Mirabal.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Independencia" target="blank"> Independencia </a></li>
  <ul>
  <li> Senador: Valentín Medrano </li>
  <li> Población: 54,785 </li>
  <img src="../assets/escudoIndependencia.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Altagracia" target="blank"> La Altagracia </a></li>
  <ul>
  <li> Senador: Virgilio Cedano </li>
  <li> Población: 335,677 </li>
  <img src="../assets/escudolaaltagracia.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Romana" target="blank"> La Romana </a></li>
  <ul>
  <li> Senador: Iván Fernández</li>
  <li> Población: 330,587 </li>
  <img src="../assets/escudolaromana.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega" target="blank"> La Vega </a></li>
  <ul>
  <li> Senador: Ramón Durán </li>
  <li> Población: 420,478 </li>
 <img src="../assets/escudolavega.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_Sánchez" target="blank"> María Trinidad Sánchez </a></li>
  <ul>
  <li> Senador: Alexis Yeb </li>
  <li> Población: 140,784</li>
  <img src="../assets/escudoMaría Trinidad Sánchez.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monseñor_Nouel" target="blank"> Monseñor Nouel </a></li>
  <ul>
  <li> Senador: Héctor Acosta </li>
  <li> Población: 201,474</li>
  <img src="../assets/escudoMonseñor Nouel .png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Cristi" target="blank"> Monte Cristi </a></li>
  <ul>
  <li> Senador: Ramón Gómez </li>
  <li> Población: 135,710</li>
  <img src="../assets/escudoMonte Cristi.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Monte_Plata" target="blank"> Monte Plata </a></li>
  <ul>
  <li> Senador: Lenin López </li>
  <li> Población: 200,454</li>
 <img src="../assets/escudomonteplata.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Pedernales" target="blank"> Pedernales </a></li>
  <ul>
  <li> Senador: Dionis Carrasco </li>
  <li> Población: 38,941</li>
 <img src="../assets/escudoPuerto Plata.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Peravia" target="blank"> Peravia </a></li>
  <ul>
  <li> Senador: Milcíades Franjul </li>
  <li> Población: 298,747</li>
 <img src="../assets/escudoperavia.jpg" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Puerto_Plata" target="blank"> Puerto Plata </a></li>
  <ul>
  <li> Senador: Ginnette Bournigal </li>
  <li> Población: 490,733</li>
<img src="../assets/escudoPuerto Plata.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Samaná" target="blank"> Samaná </a></li>
  <ul>
  <li> Senador: Pedro Bonilla </li>
  <li> Población: 168,265</li>
  <img src="../assets/escudoSamaná .png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Sánchez_Ram%C3%ADrez" target="blank"> Sánchez Ramírez </a></li>
  <ul>
  <li> Senador: Ricardo de Los Santos </li>
  <li> Población: 157,457</li>
  <img src="../assets/escudoSánchez Ramírez .png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/San_Cristóbal_(República_Dominicana)" target="blank"> San Cristóbal </a></li>
  <ul>
  <li> Senador: Franklin Rodríguez </li>
  <li> Población: 859,741</li>
  <img src="../assets/escudoSan Cristóbal .png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/San_José_de_Ocoa" target="blank"> San José de Ocoa </a></li>
  <ul>
  <li> Senador: José Casado </li>
  <li> Población: 82,458</li>
  <img src="../assets/escudoSan José de Ocoa.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/San_Juan_(República_Dominicana)" target="blank"> San Juan</a></li>
  <ul>
  <li> Senador: Félix Rosario </li>
  <li> Población: 300,476</li>
  <img src="../assets/escudoSan Juan.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/San_Pedro_de_Macor%C3%ADs" target="blank"> San Pedro de Macorís</a></li>
  <ul>
  <li> Senador: Franklin Villalona </li>
  <li> Población: 418,850</li>
  <img src="../assets/escudoSan Pedro de Macorís.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Santiago_(República_Dominicana)" target="blank"> Santiago</a></li>
  <ul>
  <li> Senador: Eduardo Virella</li>
  <li> Población: 1,833,451</li>
  <img src="../assets/escudoSantiago.png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_Rodr%C3%ADguez" target="blank"> Santiago Rodríguez</a></li>
  <ul>
  <li> Senador: Casimiro Familia</li>
  <li> Población: 164,941</li>
  <img src="../assets/escudoSantiago Rodríguez.png" width="100px" height="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Santo_Domingo" target="blank"> Santo Domingo </a></li>
  <ul>
  <li> Senador: Antonio Guzmán</li>
  <li> Población: 2,995,211</li>
  <img src="../assets/escudoSanto Domingo .png" height="100px" width="100px">
  </ul>
<li><a href="https://es.wikipedia.org/wiki/Provincia_de_Valverde" target="blank"> Valverde </a></li>
  <ul>
  <li> Senador: Martín Vargas</li>
  <li id="bottom"> Población: 207,447 </li>
  <img src="../assets/escudoValverde .jpg" height="100px" width="100px">
  </ul>
</ol>
<app-top-botton></app-top-botton>
</body>